<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suivi des Requêtes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Suivi des Requêtes</h1>
    <div id="suivis">
        <% Object.keys(suivis).forEach(function(id) { %>
            <div class="suivi">
                <h2>Suivi ID: <%= id %></h2>
                <p>Nom du Poste: <%= suivis[id].NomDuPoste %></p>
                <p>Date Début: <%= suivis[id].DateDebut %></p>
                <p>Date Fin Théorique: <%= suivis[id].DateFinTheorique %></p>
                <p>Statut: <%= suivis[id].Statut %></p>
            </div>
        <% }); %>
    </div>
    <script src="script.js"></script>
</body>
</html>
